/* Space out content a bit */

html {
  position: relative;
  min-height: 100% !important;
}

body {
  padding-bottom: 20px;
  padding-top: 50px;
  font-family: Arial !important;
  color: #222;
  font-size: 20px;
  height: 100% !important;
  min-height: 100% !important;
  background: none;
  color: #000000;
  /* Margin bottom by footer height */
  margin-bottom: 60px;

}

.container { background: #eee; }

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;

  padding-top: 5px; 
  border-top: 8px solid rgba(127,127,127, 0.2);

}

body > .container {
  padding: 60px 15px 0;
}
.brand img { max-height: 40px; width: auto;}
#footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}


blockquote { border-left: 6px solid rgba(127,127,127, 0.2); border-bottom: 1px solid rgba(127,127,127, 0.1);}
div { border-radius: 0px !important;}

h1 { font-size: 2.0em;}
ul { 
  width: 100%; 
  list-style-type: none; 
  background: none !important;
}
li { 
  padding: 4px;
  margin: 0px;
  width: 100%;
  text-align: center;
  background: none !important;
}
a:hover { text-decoration: none !important; color: #ccc; }
li a { padding: 4px !important;}
#footer a { }
/* CLASSES */
.home { opacity: 0.4; }
.container { background: none !important; height: 100% !important; min-height: 100% !important; }
.content {}
.topbar { padding-top: 5px;; border-bottom: 1px solid #ccc; }
.footertext { font-size: 0.9em; margin-top: 10px; text-align: center; }
.panel { box-shadow: none !important; background: none;} 
.header { text-align: left; }
ul.nav li.activeitem:before  { content: "\2666"; }
ul.nav li:before { content: "\2234";}
ul.nav li { text-align: justify; }

ul.horizontal { list-style-type: none; display: table; margin: 0; padding: 0; width: 100%;}
ul.horizontal li { display: table-cell; vertical-align: top; width: 20%;}
ul.horizontal li img { opacity: 0.85; padding: 8px; }
.techdata { font-family: "Lucida Console", Monaco, monospace; color: white; font-size: 0.7em; background: black; padding: 4px; margin: 4px;}
.techdata a { color: #800020; text-decoration: underline;}
