<div class="animated fadeIn">
<h2>BIOGRAPHY</h2>


<img src="images/d.jpg" class="capital" width="100" />oomSword are an Italian Heavy Metal band hailing from the foothills of the Alps in Varese, Lombardy.<br /><br />
DOOMSWORD is one of the few bands firmly rooted in the sound of '80s heavy metal while being able to create something new for the next era in metal.<br /><br />
DoomSword play Heavy Metal, with a strong epic vein. DoomSword refer to their own music as epic Heavy Metal (note the caps). DoomSword's main source of inspiration is 80s classic metal, especially US Metal of epic tones like Warlord, Manilla Road and Cirith Ungol.
<br />
DoomSword were founded in 1997, published a demo in the same year called "Sacred Metal" and went on to publish 5 full-length albums:
<ul>
  <li>DoomSword (1999)</li>
  <li>Resound The Horn (2002)</li>
  <li>Let Battle Commence (2003)</li>
  <li>My Name Will Live On (2007)</li>
  <li>The Eternal Battle (2011)</li>
</ul>

DoomSword limit their live activity to rare appearances, although they have taken part to most classic heavy metal festivals around Europe, and shared the stage with legends such as Manilla Road, Warlord, Omen, Brocas Helm, and many more bands which were DoomSword's source of inspiration in the first place.

AS of 2014 the line-up is:<br /><br />
 
Deathmaster: vocals<br />
The Ancient: guitars<br />
The Autarch: guitars<br />
Wrathlord: drums<br />
Nidhoggr: bass<br />
</div>