<div class="animated fadeIn content">
  <img src="images/corner_tr_white.png" class="pull-right" />
  <h1>The Rise of the Sword</h1>

  <div style="margin-top: 15px">
    <p>
      Immediately after the cataclysm of greed driven so-called popular music, there were but a few champions left to keep 
      the flame of heavy metal alive, on a barren wasteland of transient trends and opinable face paints.
    </p>
    DoomSword sprung out of the need for a resurgence in heavy metal, a renaissance of the old arts, with newer and sharper weapons.
    <br />

    <br />
    DoomSword were founded in 1997, published a demo in the same year called "Sacred Metal" and went on to publish 5 full-length albums:
    <p>
      <ul class="horizontal">
        <li>
          <div>
            <img src="images/doomsword_1999.jpg" width="100" height="100" />
            <br />DoomSword<br />(1999)  
          </div>
        </li>
        <li>
          <div>
            <img src="images/resound_the_horn.jpg" width="100" height="100" />
            <br />Resound The Horn<br />(2002)
          </div>
        </li>
        <li>
          <div>
            <img src="images/let_battle_commence.jpg" width="100" height="100" />
            <br />Let Battle Commence<br />(2003)
          </div>
        </li>
        <li>
          <div>
            <img src="images/my_name_will_live_on.jpg" width="100" height="100" />
            <br />My Name Will Live On<br />(2007)
          </div>
        </li>
        <li>
          <div>
            <img src="images/dscover_small.png" width="100" height="100" />
            <br />The Eternal Battle<br />(2011)
          </div>
        </li>
      </ul>
    </p>
  </div>

  <p>
    DoomSword have limited their live activity to rare appearances, although they have taken part to most classic heavy metal festivals around Europe, and shared the stage with legends such as Manilla Road, Warlord, Omen, Brocas Helm, and many more bands which were DoomSword's source of inspiration in the first place.
  </p>
</div>