<div class="animated fadeIn">
  <h1>Contact</h1>
  the contact page...
  </p>
  <button ng-init="st = false" ng-click="st = true" ng-show="st == false">show technical data</button>

  <div class="techdata" ng-show="st == true">
  Feel free to wipe this paragraph if you want.
  
  This code has been developed with Baldr, a mini web site engine. Head over to <a href="https://github.com/techfort/doomsword">github</a> to take a look at how you could re-use the code with just a few html/css changes (minimal or no javascript) and apply it to your own project. Feel free to give it a star if you appreciated the code.<br />
  &ldquo;If we meet some day, and you think this stuff is worth it, you can buy me a beer in return&rdquo;<br /> -  Poul-Henning Kamp
  <br />techfort@baldr:~$ <span ng-show="curs">_</span><br /><br />
  <button ng-click="st = false">hide technical data</button>
  </div>

</div>