<div class="animated fadeIn" style="text-align: center">
  <h1>The Oracle of Doom</h1>

  <ul>
    <li><img src="images/ds_symbol.png" /></li>
    <li><doomsword></doomsword> play epic Heavy Metal</li>
    <li><doomsword></doomsword> draw inspiration from mainly European Ancient and Mediaeval history, fantasy literature and Oneiric experiences.</li>
    <li><doomsword></doomsword> initially derived their pseudonyms from the names carved on tombstones on the cover of Warlord's Deliver Us EP.</li>
    <li><doomsword></doomsword> do not glorify war. On the contrary, <doomsword></doomsword> emphasise the tragic aspects of it.</li>
    <li><doomsword></doomsword> hail from Lombardy. &ldquo;Lombardy&rdquo; comes from the term Langbard, an ancient Germanic tribe which migrated from Southern Scandinavia to Northern Italy. Langbardr is one of the names of Odin meaning Long Beard.
      <p>
        As Lombards, <doomsword></doomsword> have Celtic, Etruscan, Roman, Goth, Germanic, Byzantine, Frankish, Hohenstaufen, Habshurg, Austrian and - naturally - Italian heritage.
      </p>
    </li>
  </ul>
</div>