<div class="animated fadeIn">
  <img src="images/corner_tr_white.png" class="pull-right" />
  <h1>On Blades, and Ore.</h1>
  <blockquote>&ldquo;Our fate is written: Sword and Shield. Born to die on the battlefield.&rdquo;</blockquote>
  <div class="clearfix">
    DomSword are an Italian Heavy Metal band hailing from the foothills of the Alps in Varese, Lombardy.
  </div>
  <div style="margin-top: 15px">
    DoomSword is one of the few bands firmly rooted in the sound of '80s heavy metal while being able to create something new for the next era in metal.<br /><br />
    DoomSword play Heavy Metal, with a strong epic vein. DoomSword refer to their own music as epic Heavy Metal (note the caps). DoomSword's main source of inspiration is 80s classic metal, especially US Metal of epic tones like Warlord, Manilla Road and Cirith Ungol.
    <br />

    Long live heavy metal.
  </div>

</div>