<div class="membersdiv">
  <h1>Champions Eternal</h1>
  <ul class="memberslist">
    <li class="dm" ng-click="sel = 'dm';" ng-class="{'active': sel == 'dm'}" ><img src="images/coat3.png" /></li>
    <li class="an" ng-click="sel = 'an'" ng-class="{'active': sel == 'an'}" ><img src="images/coat2.png" /></li>
    <li class="au" ng-click="sel = 'au'" ng-class="{'active': sel == 'au'}" ><img src="images/coat.png" /></li>
    <li class="nh" ng-click="sel = 'nh'"  ng-class="{'active': sel == 'nh'}" ><img src="images/coat4.png" /></li>
    <li class="wl" ng-click="sel = 'wl'" ng-class="{'active': sel == 'wl'}" ><img src="images/coat5.png" /></li>
  </ul>
  <div class="memberdetails">

    <div class="memberdiv animated"
      ng-class="{'fadeIn': sel == 'dm', 'fadeOut': sel != 'dm'}"
      ng-hide="sel != 'dm'">
      <img src="images/deathmaster_bw.png" class="pull-right" width="150" />
      <h2>Deathmaster</h2>
      <div>
      
      Deathmaster is the singer in <doomsword></doomsword>.
      A veteran of the Italian scene, Deathmaster is currently the singer for Fury'n'Grace and Gjallarhorn(ITA).
      Deathmaster's hallmark are war-cry vocals. He survives on 80s US Metal, 70s heavy metal, Bathory, Jethro Tull, Unix and Beer.
      A bit of a hermit, he comes out of his cave for a live appearance once every year... or two.
      </div>
    </div>

    <div class="memberdiv animated"
      ng-class="{'fadeIn': sel == 'an', 'fadeOut': sel != 'an'}"
      ng-hide="sel != 'an'">
      <img src="images/ancient.png" class="pull-right" width="150" />
      <h2>The Ancient</h2>
      <div>
      
      Gianluca "The Ancient" Silvi is a guitarist and backing vocalist in <doomsword></doomsword>. He is the mastermind behind Italian legends Battle Ram, a member of undeground heroes Jotenheim, and has throughout the years achieved cult status with his unwavering dedication to heavy metal. He's probably the biggest Manilla Road fan in existence.
      </div>
    </div>

    <div class="memberdiv animated"
      ng-class="{'fadeIn': sel == 'au', 'fadeOut': sel != 'au'}"
      ng-hide="sel != 'au'">
      <img src="images/autarch.png" class="pull-right" width="150" />
      <h2>The Autarch</h2>
      <div>
      
      Matteo "The Autarch" Carnio is the immoral guitar player in <doomsword></doomsword> since December 2012. He's the architect behind Fury'n'Grace, together with Wrathlord and Nidhoggr: he's been playing with both over the last 20-odd years. His style is drenched in mystique and venom. He thrives on meaty riffs and surreal, eerie melodies.
      </div>
    </div>

    <div class="memberdiv animated"
      ng-class="{'fadeIn': sel == 'nh', 'fadeOut': sel != 'nh'}"
      ng-hide="sel != 'nh'">
      <img src="images/nidhoggr.png" class="pull-right" width="150" />
      <h2>Nidhoggr</h2>
      <div>
      
      Cristian &ldquo;Nidhoogr&rdquo; Grillo is the bass player and demon summoner in <doomsword></doomsword>. He played in Fury'n'Grace since records began, and is currently reaping souls while his time on this earth lasts before he heads back to Hel. He's also the bass player in Gjallarhorn and carries a beer keg everywhere for emergencies.
      </div>
    </div>

    <div class="memberdiv animated"
      ng-class="{'fadeIn': sel == 'wl', 'fadeOut': sel != 'wl'}"
      ng-hide="sel != 'wl'">
      <img src="images/wrathlord.png" class="pull-right" width="150" />
      <h2>Wrathlord</h2>
      <div>
      
      Emiliano &ldquo;Wrathlord&rdquo; Bertossi is the drummer in <doomsword></doomsword>. Renowned for litterally destroying most of the live drumkits he played on, his nickname is more of an objective description than a stagename. Wrathlord's career is borderline infinite, he's a member of Fury'n'Grace for nearly 20 years and a member of <doomsword></doomsword> since 2002.
      </div>
    </div>

  </div>
</div>
